@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing:border-box;
  margin:0;
  padding:0;
  font-family:'Montserrat',sans-serif;
}

.background{
  background: linear-gradient(0deg, rgba(129, 172, 183, 0.25) 0%, rgba(129, 172, 183, 0.25) 100%), #FFF;
}

.hero{
  background-image:url(../src/assets/Hero.svg);
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
}
.about-color{
  background: linear-gradient(0deg, rgba(129, 172, 183, 0.25) 0%, rgba(129, 172, 183, 0.25) 100%), #FFF;
}